body {
    margin: 0%;
    padding: 0%;

    min-height: 100vh;

    display: flex;
    flex-direction: column;

    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    flex-direction: column;

    background-color: #1F2937;
}

.navigation-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 30px 20%;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    margin: 0;
}

.nav-items {
    list-style-type: none;
    margin: 0%;
    padding: 0;

    display: flex;
    gap: 16px;
}

.nav-links {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.hero {
    display: flex;
    padding: 100px 20%;
    margin: 0;

    align-items: center;
    justify-content: space-between;
}

.hero-text {
    display: flex;
    flex-direction: column;

    width: 50%;
    padding-right: 32px;
}

.hero-title {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin: 0;
    padding: 0;
    margin-bottom: 16px;
}

.hero-subtitle {
    font-size: 18px;
    font-weight: 400;
    color: #e5e7eb;

    padding: 0;
    padding-bottom: 16px;
    margin: 0;
}

.hero-image-container {
    width: 50%;
    margin: 0;
    padding: 0;

    align-self: flex-start;
}

.hero-image {
    width: 100%;
    object-fit: cover;
}

.hero-btn {
    background-color: #3882f6;
    border: none;

    width: fit-content;
    padding: 8px 32px;
    font-size: 18px;
    color: #e5e7eb;

    border-radius: 10px;
}

.hero-btn:hover {
    background-color: #659cf4;
}

.content {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.random-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 26px 25% 100px;

}

.ri-title {
    text-align: center;
    padding: 0%;
    margin: 0%;
    font-size: 30px;

    margin-bottom: 26px;
}

.img-profile {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.img-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.profile-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    /* border: 4px solid #3882f6; */
    border-radius: 25px;
}

.profile-text {
    width: 150px;
    text-align: center;
    font-size: 16px;
}

.quotation {
    background-color: #e5e7eb;
    padding: 100px 28%;

    display: flex;
    flex-direction: column;
}

.madara-quote {
    text-align: left;
    color: #1F2937;
    font-size: 36px;
    font-style: italic;

    margin: 0;
    padding: 0;
}

.quoter {
    text-align: right;
    font-size: 24px;
}

.join-madara {
    margin: 0%;
    padding: 100px 20%;
    display: flex;
    align-items: center;
}

.join-card {
    background-color: #3882f6;
    border-radius: 5px;
    flex: 1;

    display: flex;
    gap: 100px;
    padding: 25px 10%;
    margin: 0;
}

.join-text {
    padding: 0;
    color: #f9faf8;
}

.join-title {
    padding: 0;
    margin: 0;
    padding-bottom: 5px;
    font-size: 24px;
}

.join-subtitle {
    padding: 0;
    margin: 0;
    font-size: 16px;
    color: #e5e7eb;
}

.join-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign-up-btn {
    background-color: transparent;
    border: 3px solid #f9faf8;
    border-radius: 5px;

    width: 100px;
    padding: 5px 15px;

    color: #e5e7eb;
}

.sign-up-btn:hover {
    background-color: #659cf4;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 50px;
    background-color: #1F2937;
    color: #e5e7eb;
}
